// _variables.scss
$white: #fff;
$black: rgba(0, 0, 0, 0.1);
$light-gray: #f7f7f7;
$gray-border: #e6e6e6;
$dark-gray-border: #ccd0d4;
$light-background: #f8f8f8;
$green: #4cc57e;
$black-25: rgba(0, 0, 0, 0.25);

$main-font-family: "Courier New";
$grid-template-columns: 45% 10%;
